/* your styles go here */
.btn1 {
    background: #eb94d0;
    /* 创建渐变 */
    background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);
    background-image: -moz-linear-gradient(top, #eb94d0, #2079b0);
    background-image: -ms-linear-gradient(top, #eb94d0, #2079b0);
    background-image: -o-linear-gradient(top, #eb94d0, #2079b0);
    background-image: linear-gradient(to bottom, #eb94d0, #2079b0);
    /* 给按钮添加圆角 */
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 3px 2px 1px #9daef5;
    -webkit-box-shadow: 6px 5px 24px #666666;
    -moz-box-shadow: 6px 5px 24px #666666;
    box-shadow: 6px 5px 24px #666666;
    font-family: Arial;
    color: #fafafa;
    font-size: 27px;
    padding: 19px;
    text-decoration: none;
  }
  /* 悬停样式 */
  .btn1:hover {
    background: #2079b0;
    background-image: -webkit-linear-gradient(top, #2079b0, #eb94d0);
    background-image: -moz-linear-gradient(top, #2079b0, #eb94d0);
    background-image: -ms-linear-gradient(top, #2079b0, #eb94d0);
    background-image: -o-linear-gradient(top, #2079b0, #eb94d0);
    background-image: linear-gradient(to bottom, #2079b0, #eb94d0);
    text-decoration: none;
  }
.why{
    margin: 40px 0px;
    display: flex;
    justify-content: space-between;
    height: 200px;
    text-align: center;
}
.why .because{
    width: 250px;
    height: 310px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.why .img{
    margin: 0 auto;
    display: inline-block;
}
.why img{
    border-radius: 10px;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.why h3{
    font-size: 20px;
    margin-top: 10px;
    color: white;
    padding: 10px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.wh2-bg1{
    background-color: #E72D51;
}
.wh2-bg2{
    background-color: #4B6FA2;
}
.wh2-bg3{
    background-color: #F2921C;
}
.wh2-bg4{
    background-color: #6ABCCF;
}
.why p{
    color: #6c757d;
    display: block;
    height: 6px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.xuanchuan{
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;
    height: 200px;
}
.tips{
    margin: 10px 40px;
    width: 200px;
    height: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.tips .img{
    margin: 0 auto;
    display: inline-block;
}
.tips img{
    width: 110px;
    height: 110px;
    text-align: center;
}
.teacher{
    display: flex;
    flex-direction: column;
    height: 435px;
    margin: 10px 40px;
}
.teacher-photo{
    width: 265px;
    height: 200px;
}
.teacherItem-name{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 60%;
    padding: 5px 0 5px 20px;
    background-color: #007bff;
    color: white;
    font-size: 1.2rem;
    margin-top: 5px;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.teacherItem ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.teacherItem ul li {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 0.9rem;
}
.teacherItem ul li:before {
    content: "\2022";
    color: #148AE0;
    font-size: 20px;
    padding: 0 5px;
}